body{
    background-image: linear-gradient(#CCCCFF, #CCFFFF);
}
.mainObject{
    width: 1500px;
    margin: auto;
}
.title{
    width: 1300px;
    float: left;
}
.mainMenu{
    width: 1300px;
    float: left;
}
.menu{
    width: 199px;
    height: 600px;
    margin-top: 10px;
    border: 1px solid skyblue;
    float: left;
    background-image: linear-gradient(#9999FF, #99FFFF);
    border-radius: 10px;
}
.textPart{
    width: 1000px;
    float: left;
    padding: 2px;
}
.picturePart{
    float: left;
    width: 300px;
}
.foot{
    width: 1500px;
    clear: both;
    text-align: center;
}
.pictureDescribe{
    color: gray;
}
.picture{
    width: 278px;
    height: 158px;
    border: 1px solid black;
}
.pictureGroup{
    margin: 10px;
}
.picture2{
    width: 278px;
    height: 316px;
    border: 1px solid black;
}
.picture3{
    width: 278px;
    height: 278px;
    border: 1px solid black;
}
